html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, input {
  font: menu;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 10px;
  position: absolute;
}

button {
  width: 100%;
  height: 100px;
}

.shell {
  display: flex;
  flex-flow: column;
}
section {
  margin: 5px 0;
  padding: 5px;
}

.logo {
  text-align: center;
}

.section_name {
  margin: 0;
  font-size: 12px;
  color: grey;
}

.log {
  height: 150px;
  background-color: rgba(255, 255, 0, .1);
  border: 1px inset grey;
  overflow-y: scroll;
}

footer {
  text-align: center;
}


.options label {
  display: block;
}

.options {
  border: 1px inset grey;
}
