html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
input,
pre,
button,
p,
select {
  font-family: "Segoe UI";
  font-size: 12px;
}

select {
  border-radius: 5px;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p,
h1,
h3 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

button {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  border: 1px solid grey;
}

button:hover {
  border: 1px solid black;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

button:active {
  background-color: rgb(240, 240, 240);
}

section {
  margin-bottom: 5px;
}


.AutoFish {
  padding: 5px;
  width: 325px;
  height: 628px;
}
.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.logo_name {
  background: url("img/logo-icon.png") no-repeat center left;
  background-size: 80px;
  background-position: right 15px;
  font-size: 56px;
  margin: 0 auto;
}

.logo_link {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -10px;
  margin-right: 80px;
}

.premium_crown {
  position: absolute;
  width: 30px;
  transform: rotate(-8deg);
  top: 0;
  left: 133px;
}


.logo_link_img {
  height: 11px;
  margin-right: 5px;
  margin-left: 5px;
}

.premium_icon {
  height: 10px;
  margin-left: 2px;
}

.section_name {
  margin: 0;
  font-size: 12px;
  color: grey;
}

.settings_header {
  display: inline-block;
  text-align: center;
  background-color: white;
  z-index: 1000;
  margin-left: 5px;
  margin-bottom: -1px;
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
  border-top: 1px solid black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-top: 7px;
  font-size: 1.1em;
  font-weight: 500;
  position: relative;
}

.settings_header_main {
  padding-right: 5px;
  padding-left: 5px;
  width: 40px;
}

.settings_header_log {
  margin-top: 2px;
  background-color: #ffffe5;
}

.settings_critical {
  background-color: rgb(255, 221, 221);
}

.logger {
  height: 105px;
  background-image: url("./img/fish.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 0, 0.1);
  border: 1px inset grey;
  border-radius: 10px;
  border-top-left-radius: 7px;
  overflow-y: scroll;
  padding: 5px;
}

.settings {
  display: flex;
  flex-flow: row wrap;
}

.settings .settings_section {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: 1px inset grey;
  border-radius: 10px;
  border-top-left-radius: 7px;
  padding: 5px;
  flex: 1 1 0;
  z-index: 1;
}

.settings .settings_section:first-child {
  margin-right: 5px;
}

.settings .whiteList {
  margin-top: 5px;
}

.settings label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.settings label div {
  display: flex;
}

.settings .option_hint {
  cursor: help;
  height: 13px;
  margin-left: 2px;
  margin-top: 3px;
  display: inline-block;
  transition: 0.7s all;
}

.settings .option_hint:hover {
  transform: rotate(1turn);
}

.settings_section.threshold_settings {
  padding-left: 2px;
}

.threshold_settings .option {
  display: flex;
  align-items: flex-end;
}

.threshold_settings .option .option_hint {
  margin-bottom: 3px;
  margin-left: 5px;
}

.settings select,
.settings input[type="number"], .settings input[type="text"] {
  width: 42px;
  margin-right: 3px;
  height: 20px;
}


.settings input[name="stopKey"], .settings input[name="luresKey"], .settings input[name="fishingKey"], .settings input[name="intKey"], .settings input[name="spareKey"], .settings input[name="mammothKey"], .settings input[name="hsKey"] {
  cursor: pointer;
}

.settings input[name="stopKey"]:active, .settings input[name="luresKey"]:active, .settings input[name="fishingKey"]:active, .settings input[name="intKey"]:active, .settings input[name="mammothKey"]:active, .settings input[name="hsKey"]:active {
  cursor: default;
}

.settings textarea.whitelist_input  {
  width: 405px !important;
  height: 50px;
  max-width: 405px;
  min-height: 50px;
}

.advanced_settings_button {
  height: 23px;
  width: 140px;
  margin-right: 3px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid grey;
}

.advanced_settings_button:hover {
  border: 1px solid black;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.advanced_settings_button:active {
  background-color: rgb(240, 240, 240);
}

.option.game-option {
  width: 125px;
  outline: 2px solid rgba(250, 0, 0, .2);
}

.startButton {
  background-image: url('img/start.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 75px;
  font-size: 44px;
  font-weight: bold;
}

.version {
  text-align: center;
}

.advanced_settings {
  padding: 5px;
}

.donateLink {
  display: inline;
}

/* AdvSettings window */

.advSettings {
  padding: 5px;

}

.advSettings_settings {
  height: 558px;
  padding-right: 3px;
  margin-bottom: 7px;
  overflow-y: scroll;
}

.advSettings .buttons {
  text-align: center;
}

.advSettings .buttons input[type=button] {
  outline: 2px solid rgba(250, 0, 0, .2);
}

.advSettings .option_text {
  margin-left: 5px;
  margin-right: 5px;
}

.advSettings input[type=button] {
  margin: 0 3px;
  width: 70px;
  border-radius: 5px;
  border: 1px solid grey;

}

.advSettings input[type=button]:hover {
  cursor: pointer;
  border: 1px solid black;
  background-color: rgb(230, 230, 230);
}

.advSettings input[type=button].dummy_button:hover {
  border: 1px solid grey;
  background-color: rgb(240, 240, 240);
  cursor: default;
}

.advSettings input[type=button]:active {
  background-color: rgb(240, 240, 240);
}


.advSettings .settings_section input[type=number], .advSettings .settings_section input[type=text] {
  width: 50px;
}

 .advSettings .settings_section input[name=mammothTraderName] {
   width: 160px;
 }

.advSettings .settings {
  flex-flow: column;
}

.advSettings .settings .settings_section {
  margin: 0;
}

.advanced_warning {
  text-align: center;
  color: red;
  margin: 5px 0;
}

.advSettings .redThresholdColor {
  height: 20px;
  width: 20px;
  border: 1px solid grey;
}

.advSettings .settings select {
  width: 127px;
}

.thresholdRange {
  height: 70px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

.thresholdRange input[type=range] {
  width: 239px;
  height: 10px;
  margin-bottom: 5px;
  z-index: 10;
}

.thresholdRange input[type=number] {
  width: 45px;
  margin: 0;
}

.thresholdRange .bobberContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.threshold_canvas {
  display: block;
  margin-left: -55px;
}

.bobberColorSwitch {
  transition: 0.1s all;
  position: absolute;
  width: 50px;
  height: 22px;
  top: 27px;
  left: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  background-size: 50px 22px;
  background-position: -1px -1px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.settings_section input[type=text].tmApiKey {
  width: 194px;
}

.settings_section input[type=range].whisperRange {
  width: 230px;
}

.whisperColorBox {
  height: 18px;
  width: 49px;
  border: 1px solid grey;
  color: white;
  text-align: center;
  padding-left: 3px;
  margin-right: 4px;
  background-color: rgba(252, 119, 187, 0.8);
}


/* AdvSettings window end */

input[type=range][name=threshold] {
  -webkit-appearance: none;
  background: transparent;
}

input[type=range][name=threshold]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range][name=threshold]:focus {
  outline: none;
}

input[type=range][name=threshold]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=checkbox] {
  width: 13px;
  height: 13px;
}

input[type=range][name=threshold]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid grey;
  height: 32px;
  width: 16px;
  border-radius: 3px;
  background: rgb(240,240,240);
  background-image: url("img/grate.png");
  background-position: center center;
  background-size: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range][name=threshold]::-webkit-slider-thumb:hover {
  border: 1px solid black;
}

input[type=range][name=threshold]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background-image: linear-gradient(to right, black, red);
  border-radius: 10px;
  border: 0.2px solid #010101;
}

input[type=range].threshold_disabled::-webkit-slider-runnable-track {
  opacity: 0.8;
}

input[type=range][name=threshold]:focus::-webkit-slider-runnable-track {
  opacity: 0.9;
}

input[type=range].threshold_disabled::-webkit-slider-thumb {
  visibility: hidden;
}

/* Profiles */
.settings_premium {
  background-color: #FFDBC5;
}

.settings_header_premium {
  background-color: #FFDBC5;
}

.settings_header_critical {
  background-color: rgb(255, 221, 221);
}

.settings_advSettings {
  display: block;
}


.autoTh {
  transition: 0.1s all;
  position: absolute;
  top: 0;
  left: 2px;
  width: 50px;
  height: 22px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  background-size: 50px 22px;
  background-position: -1px -1px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bobberColorSwitchText {
  width: 70px;
  display: inline-block;
  margin-left: 55px;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=checkbox] {
  width: 13px;
  height: 13px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid grey;
  height: 20px;
  width: 16px;
  border-radius: 3px;
  background: rgb(240,240,240);
  background-image: url("img/grate.png");
  background-position: center center;
  background-size: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-thumb:hover {
  border: 1px solid black;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background-image: linear-gradient(to left, rgba(0, 117, 255, 0.6), rgba(0, 117, 255, 0.8));
  border-radius: 10px;
  border: 0.2px solid #010101;
}


.switch_thumb {
  position: absolute;
  top: 1px;
  width: 20px;
  height: 18px;
  background-color: rgb(240,240,240);
  background-image: url("img/grate.png");
  background-position: center 3px;
  background-size: 10px;
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid grey;
}

.switch_thumb_left {
    left: 2px;
}

.switch_thumb_right {
    left: 26px;
}

.switch_thumb:hover {
  border: 1px solid black;
}

.settingsFolder{
  height: 16px;
  width: 16px;
  position: absolute;
  right: 10px;
  top: 86px;
  cursor: pointer;
  border: 1px solid black;
  opacity: 0.5;
  border-radius: 5px;
}


.settings_premium {
  background-color: #FFDBC5;
  opacity: 0.7;
}

.settings_header_premium {
  background-color: #ffe9dc;
  border-color: grey;
  color: rgba(0,0,0,0.7);
}

.premium_lock {
  background-image: url('img/youtube_icon.png');
  background-repeat: no-repeat;
  background-position: 0;
  background-size: contain;
  background-position: center center;
  margin-left: 5px;
  margin-right: 2px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  display: inline-block;
  cursor: pointer;
}

.advSettings .premium_lock {
  position: relative;
  top: 3px;
}

.advSettings input[type=range] {
  width: 180px;
}

#water {
  top: -3px;
  right: -9px;
  width: 63px;
  height: 63px;
  background: linear-gradient(#0080FF, #00BFFF);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}

#water:after {
  content: "";
  width: 50px;
  height: 20px;
  position: absolute;

  background-color: white;
  bottom: -11px;
  left: 5px;
}

#bobber {
  width: 30px;
  height: 30px;
  background-color: #FF0000;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
  animation: bobbing 3s infinite;
}

#bobber:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #FFFFFF;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid grey;
  position: absolute;
  top: 1px;
  left: 1px;
}


#bobber:after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #FFFFFF;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid grey;
  position: absolute;
  top: 1px;
  left: 14px;
}

#bobber:hover {
  cursor: pointer;
}

#bobber:active {
  animation: plunging 1s;
}

#bobberHandle {
  width: 6px;
  height: 4px;
  position: absolute;
  top: -4px;
  left: 12px;
  background-color: red;
}

#bobberHandle:before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: -3px;
  left: 1px;
  background-color: rgba(0,0,0,.7);
  border-radius: 50%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#grass {
  position: absolute;
  background-image: url('img/grass.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 20px;
  bottom: 20px;
  right: 30px;
}

@keyframes plunging {
  0% { transform: translateY(0); }
  50% { transform: translateY(10px);}
  100% { transform: translateY(0); }
}

@keyframes bobbing {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px);}
  100% { transform: translateY(0); }
}

.threshold_number_input {
  z-index: 1;
}

.advSettings .settings .settings_section .spares-addButton {
  display: block;
  margin: 0 auto;
  background-image: url('img/add.png');
  background-size: 12px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20px;
  width: 75px;
}

.advanced_settings_header {
  width: 40px;
}

.advanced_settings_header_text {
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 5px
}

.advanced_settings_header_text_threshold {
  margin-top: 10px;
  margin-left: 5px;
}
