html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, input {
  font: menu;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 10px;
  position: absolute;
}

button {
  width: 100%;
  height: 100px;
}

.start_off {
  
}
.start_on {

}
