html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, input {
  font: menu;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

p, h1 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 10px;
  position: absolute;
}

button {
  width: 100%;
  height: 100px;
}

.shell {
  display: flex;
  flex-flow: column;
}
section {
  margin: 5px 0;
  padding: 5px;
}

.logo_name {
  background: url('img/icon.png') no-repeat center left;
  padding-left: 65px;
  font-size: 56px;
  text-align: center;
}



.section_name {
  margin: 0;
  font-size: 12px;
  color: grey;
}

#log {
  height: 150px;
  background-color: rgba(255, 255, 0, .1);
  border: 1px inset grey;
  overflow-y: scroll;
}

footer {
  margin-top: 5px;
  text-align: center;
}


.options label {
  display: block;
  margin: 5px 0;

}

.options {
  border: 1px inset grey;
      border-radius: 5px;
}

#youtube_link {
  padding-left: 23px;
  padding-bottom: 3px;
  background: url('img/youtube.jpg') no-repeat left center;
}

#start {
  font-size: 24px;
  font-weight: bold;
}

#timerData {
  width: 40px;
  height: 20px;
}

.before_info {
  cursor: pointer;
}

.classic_info {
  margin-left: 10px;
}

.wotlk_info {
  margin-left: 10px;
  display: none;
}
