body {
  position: absolute;
  border: 1px solid black;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-app-region: drag;
  text-align: center;
  font: menu;
  font-size: 2em;
  background-position: center 50px;
  background-repeat: no-repeat;
}

div {
  -webkit-app-region: no-drag;
  border: 1px solid black;
  width: 60px;
  border-radius: 15px;
  margin: 15px;
  padding: 5px;
  font-size: 0.5em;
  color: white;
  text-align: center;
  cursor: pointer;
}

.buttonOk {
  background-color: green;
  position: absolute;
  right: 0;
  bottom: 0;
}

.buttonCancel {
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
}

.buttonCheck {
  background-color: blue;
  position: absolute;
  left: 0;
  bottom: 0;
}

.buttonCheck:active {
  cursor: progress;
}
